[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
pylint = "*"
pre-commit = "*"
yamllint = "*"

[packages]
wg-utilities = "*"
growhat = {version = "*", sys_platform = "== 'linux'"}
font-roboto = "*"
fonts = "*"
pillow = "*"
"rpi.gpio" = {version = "*", sys_platform = "== 'linux'"}
paho-mqtt = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"

[scripts]
monitor = "python src/monitor.py"
