[Unit]
Description=Plant Waterer Service
After=multi-user.target
StartLimitBurst=10
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=5
User=pi
ExecStart=/home/pi/.local/share/virtualenvs/plant-monitor-GaWrO35h/bin/python /home/pi/plant-monitor/src/waterer.py

[Install]
WantedBy=multi-user.target